@using System.Security.Principal
@using Microsoft.VisualBasic

<div class="card dotpoint-card-layout text-center h-100">
    <div class="card-header">
        <h5 class="card-title">@Title</h5>
    </div>
    <div class="card-body">
        <ul class="card-text text-start">
            @foreach (var item in Description)
            {   
                <li>@item</li>
            }
        </ul>
        <button class="btn btn-primary" onclick="window.location.href='@BodyButtonLink'">@BodyButtonText</button>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-success" @onclick="OnClickToggle">@MainButtonText</button>
    </div>
</div>

@code{
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required List<string> Description { get; set; }
    
    [Parameter]
    public required string MainButtonText { get; set; }

    [Parameter]
    public string BodyButtonLink { get; set; } = "#";

    [Parameter]
    public string BodyButtonText { get; set; } = "";

    [Parameter]
    public EventCallback OnToggle { get; set; }

    private async Task OnClickToggle()
    {
        await OnToggle.InvokeAsync();
    }



}