

<div class="col @CustomColClasses">
    @ChildContent
</div>

@code {

    [Parameter]
    public string? CustomColClasses { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

}