

<div class="row @CustomRowClasses">
        @ChildContent
</div>


@code {

    [Parameter]
    public string? CustomRowClasses { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

}